<!doctype html>
<html lang="en">

<head>
    {{>links}}
    <title>MyRestra</title>
</head>

<body>
    <!-- section NAV & INTRO -->
    {{>navbar}}
    <!-- {{{log}}} -->

    <section class="p-md-5" id="hero-sec">
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="col animate__animated animate__fadeInRight p-0">
                    <h1 class="mx-2">
                        Meet, Eat & Enjoy the true test
                    </h1>
                    <p class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exeur. Excepmollit anim id est laborum.</p>
                    <div class="d-lg-flex ">
                        <div class="py-3 mx-lg-2">
                            <a href="#shortMenu">
                                <div class="btn btn-lg btn-dark border-0 rounded-pill fw-bold position-relative" style="background-color: #f86011;">Our Menu
                                <div class="position-absolute  bg-dark rounded-pill " id="button-bg"></div>
                            </div>
                            </a>
                        </div>

                        <div class="py-3 mx-lg-2 animate__animated animate__bounce ">
                            <div class="btn btn-lg border-0 fw-bold p-0 p-lg-1 " style="color: #f86011; "><img src="images/play-button.svg " alt=" "> Play Video</div>
                        </div>
                    </div>


                </div>
                <div class="col d-sm-block d-none animate__animated animate__fadeInRight" style="position: relative; ">
                    <img src="images/hero-img.webp " class="img-fluid " alt=" ">
                    <div class="p-3 animate__animated animate__bounce " style="position: absolute; top: 55%; left: 5%; background-color: white; width: 70%; ">
                        <div>
                            <img src="images/randomgirl.webp " alt=" ">
                            <p class="fs-5 fw-bold ">"Delicious restaurant is easy and takes just a couple "</p>
                            <i class="bi bi-star-fill " style="color: #f86011; "></i>
                            <i class="bi bi-star-fill " style="color: #f86011; "></i>
                            <i class=" bi bi-star-fill " style="color: #f86011; "></i>
                            <i class="bi bi-star-fill " style="color: #f86011; "></i>
                            <i class=" bi bi-star-fill " style="color: #f86011; "> </i>
                            <span style="color: #f86011; " class="fs-5 fw-bold "> -Robert</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section HEALTHY FOOD -->
    <section class="healthyFood animate__animated animate__fadeInLeft">
        <div class="headings ">
            <h1 class="heading">Best way to eat healthy food</h1>
            <p class="para text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exeur.</p>
        </div>

        <div class="services mb-4">
            <div class="service ">
                <img src="images/services1.svg ">
                <div class="desc ">
                    <h3 class="title heading ">Healthy Meal</h3>
                    <p class="para ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exeur.</p>
                </div>
            </div>

            <div class="service ">
                <img src="images/services2.svg ">
                <div class="desc ">
                    <h3 class="title heading ">Fast Food</h3>
                    <p class="para ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exeur.</p>
                </div>
            </div>

            <div class="service ">
                <img src="images/services1.svg ">
                <div class="desc ">
                    <h3 class="title heading ">Tasty</h3>
                    <p class="para ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exeur.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- section MENU -->
    <section class="menu" id="shortMenu">

      <div class="menu-header">
          <h2 class="heading text-light">Most Populer Dishes</h2>

        <div class="ms-auto">
            <a href="menu" class="button btn btn-sm border-0 rounded-pill fw-bold position-relative ms-auto">
            Full Menu
            <div class="position-absolute  bg-dark rounded-pill " id="button-bg"></div>
            </a>
        </div>
      </div>
        <nav class="navbar navbar-expand-lg default-navbar">
          <div class="container-fluid">

             <button class="navbar-toggler text-light ms-auto border" type="button" data-bs-toggle="collapse" data-bs-target="#populerDishes">
            <i class="bi bi-arrow-down-circle"></i>
             </button>

           <div class="collapse navbar-collapse text-center text-md-start justify-content-between" id="populerDishes">
              <ul class="navbar-nav navbar-nav fw-bold fs-5">
                <li class="nav-item">
                  <a class="btn nl breakfast active">Breakfast</a>
                </li>
                <li class="nav-item">
                  <a class="btn nl lunch">Lunches</a>
                </li>
                <li class="nav-item">
                  <a class="btn nl dinner">Dinner</a>
                </li>
                <li class="nav-item">
                  <a class="btn nl drinks">Drinks</a>
                </li>
                <li class="nav-item">
                  <a class="btn nl fastfood">Fastfood</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
  

      <div class="slider-menu">
        <div class="card-group">
           <!-- added via JS (script.js) -->
        </div>
           <!-- added via JS (script.js) -->

    </section>

    <!-- section BOOK A TABLE -->
    <section class="bookTable justify-content-center" id="BookTable">

        <div class="girlImg d-flex justify-content-center">
            <img src="images/girl.jpg ">
        </div>

        <div class="form">
            <div>
                <h2 class="heading ">Book a Table</h2>
                <p class="para">You're always welcomed to <span class="text-orange">MyRestra</span> please come and enjoy the true Taste.</p>
            </div>
            <form method="POST" action="/bookTable">
                <select id="type " class="rounded-pill p-2 mx-2" name="choose">
                   <option>Break-fast</option>
                   <option>Lunch</option>
                   <option>Dinner</option>
                </select>
                <input type="number" id="guests" class="rounded-pill p-2 mt-3" placeholder="Number of Guest " name="guests">
                <input type="date " placeholder="Date: YYYY/MM/DD " class="rounded-pill p-2 " name="date">
                <input type="text " id="phone " class="rounded-pill p-2 " placeholder="Phone: +91xxxxxxxxxx " name="phone">
                <textarea id="msg" placeholder="Message " name="msg" class="p-2 mt-2"></textarea>
                <!-- <input type="textarea" name="msg" placeholder="Message" class="p-2" id="msg"> -->

                <button class="button req position-relative rounded-pill" value="submit">Send Request
                    <div class="position-absolute  bg-dark rounded-pill " id="button-bg"></div>

                </button>
            </form>
        </div>

        {{{alert}}}
    </section>


    <!-- section COMMENT -->
    <div class="comments">
        <h2 class="heading text-center my-5">What People say <span style="color: #f86011;">about us</span></h2>
        <div class="container">
            <div class="testimonials">
              
            </div>
            <div class="d-flex justify-content-between">
                      <div class="d-flex">             
                          <button type="button" class="btn border-0 text-orange" data-bs-toggle="modal" data-bs-target="#editComment"><i class="bi bi-pencil-square"></i> Edit</button>

                          <div class="modal fade" id="editComment" tabindex="-1" aria-labelledby="Edit comment" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title text-orange" id="Edit comment">Edit comment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>

                                  <div class="modal-body">
                                   <form method="POST" action="/editComment" class="signup px-4 my-2">
                                        <label for="msg">Message</label>
                                        <input type="textarea" name="msg">
                                        
                                        <button class="btn btn-dark border-0 rounded-pill fw-bold position-relative d-block" style="background-color: #f86011;">Submit
                                        <div class="position-absolute  bg-dark rounded-pill " id="button-bg"></div>
                                        </button>                                   
                                    </form>
                                  </div>                              
                                </div>
                              </div>
                          </div>

                          <form method="POST" action="/deleteComment">
                            <button class="btn border-0 p-1 text-orange">                    
                              <i class="bi bi-archive-fill"></i> Delete
                            </button>
                          </form>
                      </div>
                  </div>

            <div class="container">
                <h4 class="heading mt-5">Wanna <span style="color: #f86011;">say</span> something?</h4>
                <form method="POST" action="/addComment" class="signup my-2" id="addComment">
                    <input type="hidden" name="id" value="">
                    <label class="py-3">Message</label>
                    <input type="textarea" name="msg">

                    <button class="btn btn-dark border-0 rounded-pill fw-bold position-relative d-block" style="background-color: #f86011;">Submit
                    <div class="position-absolute  bg-dark rounded-pill " id="button-bg"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="js/script.js"></script>
    <!-- <script src="js/testing.js"></script> -->
</html>