<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{>links}}
	<title>ERROR</title>
</head>
<body>
	<nav class="navbar navbar-light navbar-expand-lg px-4 py-2" style="z-index: 1; background-color: #fff4f2;" id="top">
	    <div class="containe-fluid">
	        <a class="navbar-brand fw-bold fs-6" href="index"><img src="images/logo.jpg" alt="" class="rounded loggo"></a>
	   
	    </div>
	</nav>
	<p class="text-center mt-5"><span class="text-orange">Oops! </span>{{msg}}</p>
	<div class="m-auto mx-5">
		<img src="images/error.jpg" class="err">
	</div>
</body>
</html>