*{
	margin: 0; padding: 0;
}

/*healthy food styling*/
.healthyFood{
	text-align: center;
	margin: 5rem;
}
.heading{
	font-weight: bold;
	color: #331200;
}
.headings{
	margin-bottom: 3rem;
}
.services{
	display: flex;
}
.service{
	width: 350px;
	border: 1px solid #d9d9d9;
	border-radius: 20px;
	padding: 40px;
	margin: auto;
}
.service img{
	margin: 20px;
}
.desc{
	margin: auto 20px;
}
.para{
	font-size: 17px;
	color: #999999;
}
.service:hover{
	border: none;
	box-shadow: 1px 1px 9px #ffccb3;
}
.title:hover{
	color: #ff5500;
}

@media (max-width: 500px){
	.healthyFood{
		margin: 1rem;
	}
	.headings{
		margin: 20px 10px;
	}
	.services{
		display: block;	
	}
	.service{
		width: auto;
		padding: 10px;
		margin: 10px 20px;
	}
	.service img{
		margin: 10px;
		height: 50px;
		width: 50px;
	}
	.desc{
		margin: auto 10px;
	}
	.title{
		font-size: 17px;
	}
	.para{
		font-size: 15px;
	}
}
.navbar {
    background-color: #fff4f2;
    cursor: pointer;
}

#book-table {
    color: orange;
    border-bottom: 4px solid orange;
}

#hero-sec {
    background-color: #fff4f2;
    z-index: 1;
}
@media (min-width: 500px) and (max-width: 900px){
	.healthyFood{
		margin: 0.7rem;
	}
	.services{
		display: block;
	}
	.service{
		margin: 10px auto;
		padding: 20px;
	}
}
