*{
	margin: 0; padding: 0;
}

/*healthy food styling*/
.healthyFood{
	text-align: center;
	margin: 5rem;
}
.heading{
	font-weight: bold;
	color: #331200;
}
.headings{
	margin-bottom: 3rem;
}
.services{
	display: flex;
}
.service{
	width: 350px;
	border: 1px solid #d9d9d9;
	border-radius: 20px;
	padding: 40px;
	margin: auto;
}
.service img{
	margin: 20px;
}
.desc{
	margin: auto 20px;
}
.para{
	font-size: 17px;
	color: #999999;
}
.service:hover{
	border: none;
	box-shadow: 1px 1px 9px #ffccb3;
}
.title:hover{
	color: #ff5500;
}

/*menu*/
.nav-link{
	color: white;
	font-weight: bold;
	margin-right: 10px;
}
.nav-link:hover,
.nav-link:active,
.active{
	border-bottom: 4px solid #ff5500;
	color: #ff5500;
}
.menu{
	background-color: #4d2600; 
	padding: 6rem;
}
.menu-header{
	display: flex;
}
.button{
	background-color: #ff5500;
	padding: 15px 30px;
	border-radius: 30px;
	color: white;
	border: none;
	font-size: 20px;
	margin: auto;
}
.card{
	text-align: center;
}
.cImg{
	height: 180px;
	width: 180px;
	margin: 10px auto;	
}
.price{
	background-color: #ff5500;
	border-radius: 30px;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	margin: auto 40%;
	color: white;
}
.card-title{
	font-size: 25px;
	margin: 10px;
	font-weight: bold;	

}

.btns{
	margin: auto 45%;
	display: flex;
}
.btnMovs{
	background-color: inherit;
	border: none;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
}
.btnMovs img{
	height: 50px;
	width: 50px;
}
.btn-left{
	margin-left: 10px;
}
.btnOrd{
	border: none;
	background-color: inherit;
}
.btnOrd a{
	color:  #ff5500;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 3px solid  #ff5500;	
}
.btnOrd a:hover{
	border-bottom: 1px solid  #ff5500
}

/*Book a table*/
.bookTable{
	display: flex;
	margin: 6rem;
	/*border: 1px solid red;*/
}

.girlImg img{
	height: 450px;
	width: 500px;
}

.form{
	margin: 0 5rem;
	padding: 3rem;
}
.req, #msg{
	width: 100%;
	padding: 5px;
}
#msg{
	border-radius: 10px;
	height: 6rem;
	padding: auto 10px; 
}
form input{
	margin: 10px;
}
@media (max-width: 500px){
	/*healthy food*/
	.healthyFood{
		margin: 1rem;
	}
	.headings{
		margin: 20px 10px;
	}
	.services{
		display: block;	
	}
	.service{
		width: auto;
		padding: 10px;
		margin: 10px 20px;
	}
	.service img{
		margin: 10px;
		height: 50px;
		width: 50px;
	}
	.desc{
		margin: auto 10px;
	}
	.title{
		font-size: 17px;
	}
	.para{
		font-size: 15px;
	}

	/*menu*/
	.menu{
		padding: 2rem;
	}

	.nav-link{
		color: white;
	}
	.menu-header{
		display: block;
		text-align: center;
	}
	.button{
		padding: 5px 10px;
		margin: auto;
	}
	.cImg{
		height: 100px;
		width: 100px;
	}
	.card-title{
		font-size: 20px;
	}
	.para{
		font-size: 15px;
	}
	.btns{
		display: flex;
		margin: auto;
	}
	.btnMovs{
		border-radius: 50px;
		margin: 7px;
	}
	.btnMovs img{
		height: 30px;
		width: 30px;
	}
	.btn-left, .btn-right{
		margin: auto;
	}

	/*book table*/
	.bookTable{
		display: block;
		margin: 1rem;
	}

	.girlImg{
		margin: 20px;
	}
	.girlImg img{
		height: 250px;
		width: 100%;
	}

	.form{
		margin: 20px;
		padding: 10px;
		text-align: center;
	}
	#msg{
		height: 5rem;
		padding: auto 10px; 
		margin-top: 10px;

	}
	form input{
		margin: 10px;
	}

}

@media (min-width: 500px) and (max-width: 900px){
	.healthyFood{
		margin: 0.7rem;
	}
	.services{
		display: block;
	}
	.service{
		margin: 10px auto;
		padding: 20px;
	}
	.bookTable{
		display: block;
		margin: 1rem;
	}
}

#book-table {
    color: orange;
    border-bottom: 4px solid orange;
}

#hero-sec {
    background-color: #fff4f2;
    z-index: 1;
}
.rating{
	position: absolute;
	top: 55%;
	left: 5%;
	background-color: white;
	width: 70%;
}
