<footer class="pt-5">
    <div class="container">
        <div class="d-sm-flex flex-wrap justify-content-between text-center text-sm-start">
            <div class="col-sm-12 col-md-4 lead my-3">
                <a class="navbar-brand fw-bold fs-4 "><img src="images/logo.jpg" class="rounded" height=70 alt=""></a>
                <p class="my-5 h6">
                   We are improving our services day by day, but if you still face any issues feel free to contact with us.
                </p>
                <h3 class="pt-3"><i class="bi bi-twitter mx-2" style="color: #f86011;"></i>
                    <i class="bi bi-facebook mx-2" style="color: #f86011;"></i>
                    <i class="bi bi-linkedin mx-2" style="color: #f86011;"></i>
                    <i class="bi bi-pinterest mx-2" style="color: #f86011;"></i>
                </h3>

            </div>

            <div class="my-3">
                <div class="h4 hover-border bold">Quick Links</div>
                <ul class="list list-unstyled lead mt-3">

                    <li class="list-item p-2 py-1">
                        <a href="" class="hover-border text-decoration-none" style="color: #ff5500">Home</a>
                    </li>
                    <li class="list-item p-2 py-1">
                        <a href="" class="hover-border text-decoration-none" style="color: #ff5500">About</a>
                    </li>
                    <li class="list-item p-2 py-1">
                        <a href="" class="hover-border text-decoration-none" style="color: #ff5500">Contact-us</a>
                    </li>
                </ul>
            </div>

            <div class="my-3">
                <div class="h4 hover-border">Menu</div>
                <ul class="list list-unstyled lead mt-3" style="color: #ff5500">

                    <li class="list-item p-2 py-1">
                        Breakfast
                    </li>
                    <li class="list-item p-2 py-1">
                        Lunch
                    </li>
                    <li class="list-item p-2 py-1">
                        Dinner
                    </li>

                    <li class="list-item p-2 py-1">
                        Junks
                    </li>
                </ul>
            </div>
            <div class="lead my-3">
                <h4 class="hover-border">Contact Us</h2>
                <div class="mt-3">
                    <p> <span class="text-orange">Address</span> <br> Near Shakti Chauk Bijnor, <br> Bijnor Uttar Pradesh (India)</p>
                    <p><span class="text-orange">Phone </span> +91 1234554321
                    </p>
                    <p><span class="text-orange">Email</span> myrestra@gmail.com</p>
                </div>
            </div>
            <div class="text-center lead col-12">
                <i class="bi bi-heart-fill" style="color: #f86011;"></i> 
                <i class="bi bi-heart-fill" style="color: #f86011;"></i> 
                <i class="bi bi-heart-fill" style="color: #f86011;"></i> 
            </div>
        </div>

    </div>

</footer>
<a href="#top" class="position-fixed btn btn-lg  rounded-circle" id="fixed-button"><i class="bi bi-arrow-90deg-up fs-1"></i></a>
    